<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Microservices</title>

    <!-- Place favicon.ico in the `app/` directory -->

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#ed2553">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Tile color for Win8 -->
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PSK">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild-->

    <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <!-- endbuild -->

    <!-- Because this project uses vulcanize this should be your only html import
         in this file. All other imports should go in elements.html -->
    <link rel="import" href="elements/elements.html">

    <!-- For shared styles, shared-styles.html import in elements.html -->
    <style is="custom-style" include="shared-styles iron-flex iron-flex-alignment iron-positioning"></style>
</head>

<body unresolved>
<!-- build:remove -->
<span id="browser-sync-binding"></span>
<!-- endbuild -->

<template is="dom-bind" id="app">

    <iron-ajax
        auto
        url="/me"
        handle-as="json"
        on-response="_handleLoggedInUser"></iron-ajax>

    <paper-drawer-panel id="paperDrawerPanel">
        <!-- Drawer Scroll Header Panel -->
        <paper-scroll-header-panel drawer fixed>

            <!-- Drawer Toolbar -->
            <paper-toolbar id="drawerToolbar">
                <span class="menu-name">Menu</span>
            </paper-toolbar>

            <!-- Drawer Content -->
            <paper-menu class="app-menu" attr-for-selected="data-route" selected="[[route]]">
                <a data-route="home" href="{{baseUrl}}">
                    <iron-icon icon="home"></iron-icon>
                    <span>Home</span>
                </a>

                <a data-route="users" href="{{baseUrl}}users">
                    <iron-icon icon="info"></iron-icon>
                    <span>Users</span>
                </a>
            </paper-menu>
        </paper-scroll-header-panel>

        <!-- Main Area -->
        <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
            <!-- Main Toolbar -->
            <paper-toolbar id="mainToolbar" class="tall">
                <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>

                <span class="space"></span>

                <!-- Application name -->
                <div class="middle middle-container">
                    <div class="app-name">Microservices</div>
                </div>

                <!-- Application sub title -->
                <div class="bottom bottom-container">
                    <div class="bottom-title">Example of microservices with spring cloud</div>
                </div>
            </paper-toolbar>

            <!-- Main Content -->
            <div class="content">
                <iron-pages attr-for-selected="data-route" selected="{{route}}">
                    <section data-route="home" tabindex="-1">
                        <paper-material elevation="1">
                            <h1>Welcome <i>{{user.name}}</i></h1>
                        </paper-material>
                    </section>

                    <section data-route="users" tabindex="-1">
                        <paper-material elevation="1">
                            <h1 class="page-title" tabindex="-1">Users</h1>
                            <user-service></user-service>
                        </paper-material>
                    </section>

                </iron-pages>
            </div>
        </paper-scroll-header-panel>
    </paper-drawer-panel>

    <paper-toast id="toast">
        <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>

    <!-- Uncomment next block to enable Service Worker support (1/2) -->
    <!--
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          base-uri="bower_components/platinum-sw/bootstrap"
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest"
                         cache-config-file="cache-config.json">
      </platinum-sw-cache>
    </platinum-sw-register>
    -->

</template>

<!-- build:js scripts/app.js -->
<script src="scripts/app.js"></script>
<!-- endbuild-->
</body>

</html>
