<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="user-service">
    <template>
        <style>
            :host {
                display: block;
            }

            span {
                @apply(--paper-font-body1);
            }
        </style>

        <iron-ajax id="ajax"
            url="/api/user"
            handle-as="json"
            on-response="_handleUsers"
            on-error="_handleUsersError"></iron-ajax>

        <paper-button raised on-click="_list">List</paper-button>

        <ul>
            <template is="dom-repeat" items="{{users}}">
                <li><span>{{item.firstName}} {{item.lastName}} ({{item.username}})</span></li>
            </template>
        </ul>
    </template>

    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'user-service',

                properties: {
                    users: {
                        type: Array,
                        notify: true
                    }
                },

                ready: function () {

                },

                _handleUsers: function(data) {
                    this.users = data.detail.response;
                },

                _handleUsersError: function(data) {
                    console.log("PUTO ERROR");
                },

                _list: function() {
                    this.$.ajax.generateRequest();
                }

            });
        })();
    </script>
</dom-module>
